body{
    margin: 0;
}

main{
    /*border: 1px red solid;*/
    width: 500px;
    height: 500px;
    margin: 10px;
}
.classTest{
    border: 1px red solid;
    width: 500px;
    height: 500px;
    margin: 10px;
}

.adminLi{
    padding: 3px;
    font-size: 17px;
}

button{
    font-size: 15px;
}